
<!DOCTYPE html>
 
<html>
    <head>
        <title>
            First Web Page
        </title>
    </head>
 
    <body>
        <form method="POST">
            <br>
            <div class="form-group">
                <label for="phone">Enter your phone number</label>
                <input type="text"
                id="phone" 
                name="phone" 
                placeholder="Enter mobile number"

              </div>
             <br>
              <div class="form-group">
                <label for="password1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password1"
                  name="password1"
                  placeholder="Enter password"
                />
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>